@{
  Layout = "_Layout";
}

<h4>Hello Pierre, welcome to the order management system.</h4>
<p>Please select an option:</p>

<a href="/vendors">View all vendors</a>
<a href="/orders">View all orders</a>