<h2>Add a new vendor:</h2>
<form action="/vendors" method="post">
  <label for="vendor-name">Vendor Name:</label>
  <input id="vendor-name" name="name" type="text" required>
  <label for="vendor-description">Description:</label>
  <textarea id="vendor-description" name="description" required></textarea>
  <button type="submit">Add vendor</button>
</form>